.forgotPasswordMainContainer {
  min-height: 100vh;
  background-color: #f4f4f5;
}
.logoDiv {
  position: absolute;
  top: 50px;
  left: 80px;
}
.forgotPasswordContainer {
  flex: 1;
}
.forgotPasswordFormContainer {
  box-shadow: 0px 2px 5px 0px #ccc;
  border-radius: 40px;
  background-color: #fff;
  min-height: 525px;
}
.inputFieldDiv {
  padding: 10px 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  max-width: 420px;
}
.inputField {
  min-width: 300px;
  /* padding: 10px 10px;
  border-radius: 5px; */
  border: none;
}
.inputField:focus {
  outline: none !important;
}
.loginButton {
  min-width: 360px;
  padding: 9px 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #373633;
  color: #fff;
}
.lostPasswordLabel {
  font-size: 11px;
  text-decoration: underline;
  color: #000;
}
.forgotPasswordHeading {
  font-weight: 600;
  color: #875b7c;
}
